.genres-container {
  /* margin: 10px 0; */
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;

  /* border-bottom: 1px solid #ddd; */
}

.genres-container .genre {
  flex: 1 0 20%;
  margin: 5px 0;
  padding: 10px;
  cursor: pointer;
  box-sizing: border-box;
}

.genres-container .genre:hover {
  background-color: #ddd;
}

.home-container {
  display: flex;
  flex-flow: column wrap;
  padding: 30px;
  margin: 30px;
  background-color: rgb(235, 150, 52);
  font-family:  Palatino, URW Palladio L, serif;
  box-sizing: border-box;
}

.movies-container .movies-header, .results-container .movie {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 40px;
}

.genres-container .movies-header, .results-container .movie {

  display: flex;
  flex-flow: row wrap;
  align-items: center;
  height: 60px;
  font-weight: 900;
}

.headerHome {
  margin-left: 10px;
  font-family:  Snell Roundhand, cursive;
  font-size: 80px;
  text-align: center;
  font-weight: 700;
}

.title {
  margin-left: 10px;
  font-family:  Palatino, URW Palladio L, serif;
  font-size: 65px;
  font-weight:530;
  text-align: center;
}

.text-container {
  background-color: rgb(235, 174, 52);
  font-size:25px;
  padding: 20px;
  cursor: pointer;
  box-sizing: border-box;
  text-align: center;
}



.text-container .text {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}


.movie .title, .movies-header .header-lg {
  font-size: 40px;
  font-weight: 900;
  flex: 1 0 50%;
}



.movies-header .header, .movie .rating, .movie .votes {
  flex: 1 0 25%;
  align-items: flex-start;
}

.resize {
    width: 900px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

