/* DON'T DELETE*/
.header-container, .results-container {
  background-color: rgb(235, 174, 52);
  display: flex;
  flex-flow: column wrap;
  align-items: stretch;
  font-family:  Palatino, URW Palladio L, serif;
}


/* DON'T DELETE*/
.input-container, .submit-btn {
  font-family:  Palatino, URW Palladio L, serif;
  font-size: 18px;
}

/* DON'T DELETE*/
.submit-btn {
  background-color: rgb(235, 131, 52);
  outline-color: rgb(235, 131, 52);
  color: white;
}

/* DON'T DELETE*/
.pairOuter-container {
  padding: 30px;
  display: flex;
  flex-flow: column wrap;
  align-items: stretch;
}

/* DON'T DELETE*/
.pair-container {
  background-color: rgb(235, 174, 52);
  padding: 30px;
  display: flex;
  flex-flow: column wrap;
}

/* DON'T DELETE*/
.pair-title {
  margin-left: 5px;
  font-family: Palatino, URW Palladio L, serif;
  font-size: 70px;
  font-weight: 500;
}

/* DON'T DELETE*/
.header-container .text {
  font-size: 30px;
  font-style: italic;
}

/* DON'T DELETE (delete movieResults) */
.header-container .headers, .results-container .pairResults, .results-container .movieResults {
  font-size: 20px;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  max-height: 80px;
}

.header-container .statHeaders {
  display: flex;
  flex-flow: row nowrap;
  font-size: 20px;
  align-items: flex-start;
  text-align: center;
}

.statHeaders .header {
  flex: 1 0 8%;
}

.results-container .foodResults {
  font-size: 20px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  max-height: 40px;
}

/* DON'T DELETE*/
.pairResults .drink_rating, .pairResults .rating, .pairResults .pair_rating, .foodResults .foodRate, .headers .headerRate, .headers .recRateHeader {
  flex: 1 0 8%;
  text-align: center;
}

/* DON'T DELETE*/
.pairResults .type, .headers .typeHeader, .foodResults .foodRec, .headers .recHeader {
  flex: 1 0 15%;
  text-align: left;
}

/* DON'T DELETE*/
.pairResults .name, .headers .nameHeader {
  flex: 1 0 25%;
  flex-grow: 4;
}


/* CAN DELETE FROM HERE ON*/

.movieResults .mapStats {
  flex: 1 5 15%;
  text-align: center;
}

.movieResults .name {
  font-size: 20px;
  flex: 1 0 15%;
}

.movieResults .rateDrink {
  font-size: 20px;
  flex: 1 0 8%;
  text-align: center;
}

.movieResults .drink {
  font-size: 20px;
  flex: 1 0 25%;
  flex-grow: 4;
}
.movieResults .drink_rating, .movieResults .rating, .movieResults .pair_rating{
  flex: 1 0 8%;
}

.movieResults .type {
  flex: 1 0 15%;
}

.movieResults .name {
  flex: 1 0 25%;
  flex-grow: 4;
}