.header-container, .results-container {
  background-color: rgb(235, 174, 52);
  display: flex;
  flex-flow: column wrap;
  align-items: stretch;
  font-family:  Palatino, URW Palladio L, serif;
  /* margin-top: 10px; */
}

.input-container, .submit-btn {
  font-family:  Palatino, URW Palladio L, serif;
  font-size: 18px;
}

.submit-btn {
  background-color: rgb(235, 131, 52);
  outline-color: rgb(235, 131, 52);
  color: white;
}

.pairOuter-container {
  padding: 30px;
  display: flex;
  flex-flow: column wrap;
  align-items: stretch;
}

.pair-container {
  background-color: rgb(235, 174, 52);
  padding: 30px;
  display: flex;
  flex-flow: column wrap;
}

.pair-title {
  margin-left: 5px;
  font-family: Palatino, URW Palladio L, serif;
  font-size: 70px;
  font-weight: 500;
}

.header-container .text {
  font-size: 30px;
  font-style: italic;
}


.header-container .headers, .results-container .movieResults {
  font-size: 20px;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  max-height: 80px;
}

.movieResults .drink_rating, .movieResults .rating, .movieResults .pair_rating, .headers .header {
  flex: 1 0 8%;
}

.movieResults .type, .headers .typeHeader {
  flex: 1 0 15%;
}

.movieResults .name, .headers .nameHeader {
  flex: 1 0 25%;
  flex-grow: 4;
}

.movieResults .mapStats {
  flex: 1 5 5%;
}

.movieResults .foodRec, .headers .recHeader {
  flex: 1 0 25%;
  height: 40px;
}